Package: spinnaker-demo
Version: 1.0
Section: misc
Priority: optional
Architecture: amd64
Depends: jdk (>= 1.5)
Maintainer: CTN
Description: Simple java
Distribution: main
Depends: default-jre | java8-runtime
